---
layout: default
---

{%- assign me = site.data.profile.my -%}
{%- if me -%}
<div class="content card border-0 m-0">
    {%- for data in me.data limit: 1 -%}
    <h2 class="content-title">{{ data.title }}</h2>
    <p>{{ data.content }}</p>
    {%- endfor -%}
    <a href="/about" class="btn">See more</a>
</div>
{%- endif -%}
<div class="content card m-0 border-0">
    <h2 class="content-title">Notes</h2>
    <ul>
        {%- for p in site.posts -%}
        <li><a class="nav-link font-size-18 border-bottom" href="{{ p.url | relative_url }}">[{{ p.date | date_to_string }}] {{ p.title }}</a></li>
        {%- endfor -%}
    </ul>
</div>